
.logo {
  font-size: 24px;
  line-height: initial;
}

.ctrlPanel {
  float: right;
}

.cbxLabel {
  margin: 0 10px;
}

.inputBox {
  display: inline-block;
  width: inherit;
}

.inputBtn {
  border: none;
  border-radius: 0 5px 5px 0;
  padding: 2px 6px;
}

.btnIcon {
  border: solid 1px grey;
  border-radius: 3px;
  padding: 2px;
  margin-left: 5px;
}

.navbar {
  padding: 8px 0;
}

.categoryList {
  clear: right;
  margin-top: 10px;
}

.categoryBlock {
  margin-bottom: 5px;
}

.categoryName {
  color: initial;
  text-decoration: none;
}

.activeCategoryName, .categoryName:hover, .categoryName:focus {
  color: #337ab7;
  font-weight: bold;
  text-decoration: none;
}

.taskList {
  clear: right;
  margin-top: 36px;
}

.taskItem {
  padding: 15px;
  border: solid 1px grey;
}

.itemName {
  display: inline-block;
  margin-left: 15px;
  font-size: 18px;
}

.notFound {
  text-align: center;
  color: red;
  font-size: large;
}

.inactiveCheckBox {
  color: #00b3ee;
}

.wide-textarea {
  width: 100%;
  border-radius: 5px;
  border-color: #dfdfdf;
  margin-top: 5px;
}

.pull-right {
  margin-right: 15px;
}

.btn {
  margin-left: 10px;
}

.alert {
  position: absolute;
  bottom: 0;
  margin: 0 26%;
}

.input-group-submit {
  border: none;
  background-color: #eeeeee;
  outline: none;
}